<!DOCTYPE html>
<html>
  <head>
    <title>Thiscord | Your Place to Talk and Hang Out</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta property="og:url" content="https://thiscord.onrender.com/#/" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <script type="text/javascript">
      window.private_server = "<%= image_url('private_server.png') %>";
      window.public_server = "<%= image_url('public_server.png') %>";
      window.server_create = "<%= image_url('server_create.png') %>";
      window.server_modal_arrow = "<%= image_url('server_modal_arrow.png') %>";
      window.default = "<%= image_url('default.png') %>";
    </script>

    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>